@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;0,700;1,400&display=swap');


html {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;

}

body {

    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-size: .9375rem;
    line-height: 1.5;
    font-weight: 400;
    color: black;
    background: #E5E5E5;
    display: flex;
    flex-direction: column;
    align-items: center;

}

img {
    max-width: 100%;
    height: auto;
}

.cell{
    border: 1px solid black;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.9375rem;
}

.cell:hover{
    background: #a6a6a6;
}

.game{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    border: 1px solid black;
    margin-bottom: 20px;
}
.h_one{
    padding-top: 20px;
    margin-bottom: 20px;
}
.move{
    margin-bottom: 10px;
}
.start_btn{
    padding: 10px;
    font-size: 18px;
}
.score{
    position: absolute;
    right: 5%;
    top: 100px;
}
.h_three{
    display: flex;
}
.score_num{
    padding-left: 10px;
}